@page
@model ASP_Lesson_18.Pages.AllCategoriesModel

@{
    ViewData["Title"] = "Все категории товаров";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название категории</th>
            <th>Количество акций</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Promotions.Count</td>
            </tr>
        }
    </tbody>
</table>